<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Cards</title>
</head>
<body>
    <div class="cont1">
        <h1>
            BIENVENIDO AL PANEL DE IMAGENES
        </h1>
    </div>
    <div class="container " style="height: 90vh;">
        <div class="panel active" style="background-image: url(images/hielo-invernal-lago-naturaleza-wallpaper-preview.jpg);" >
            <h3>glacial</h3>
        </div>
        <div class="panel" style="background-image: url(images/Rosas.jpg);">
            <h3>Rosas</h3>
        </div>
        <div class="panel" style="background-image: url(images/bosque.jpg);">
            <h3>bosque</h3>
        </div>
        <div class="panel" style="background-image: url(images/paisaje-tropical-soleado_23-2150466874.avif);">
            <h3>selva</h3>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>